@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
    <div class="col-6">
          <h2 class="text-primary">Cliente</h2>
    </div>     
      <div class="col-6 text-end">
        <a asp-controller="Cliente" asp-action="Create" class="btn btn-primary">Add Cliente</a>
      </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                cpf
            </th>
            <th>
               Nome
            </th>
            <th>
                edereco
            </th>
            <th>
                idade
            </th>
            <th>
                sexo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                     <td width="20%">
                    @obj.cpf
                     </td>
                      <td width="20%">
                    @obj.NomeCliente
                      </td>
                      <td width="20%">
                    @obj.edereco
                       </td>
                      <td width="20%">
                           @obj.idade
                       </td>
                       <td with="20%">
                           @obj.genero
                       </td>
                        <td>
                           <div class="w-75 btn-group" role="group">
                                <a asp-controller="Cliente" asp-action="Edit" asp-route-id="@obj.cpf"><i class="bi bi-pencil-square"></i>Editar</a>
                            </div>
                        </td>
                            <td>
                              <div class="w-75 btn-group" role="group">
                                 <a asp-controller="Cliente" asp-action="Delete" asp-route-id="@obj.cpf"><i class="bi bi-pencil-square"></i>Excluir</a>
                              </div>
                        </td>
                </tr>
        }
    </tbody>
</table>
